<table style="width:60%" border=5px>
  <thead>
    <tr>
      <td><h3>FirstName</h3></td>
      <td><h3>LastName</h3></td>
      <td><h3>Email</h3></td>
      <td><h3>EmpID</h3></td>
      <td><h3>Password</h3></td>
      <td><h3>Gender</h3></td>
    </tr>
  </thead>
  <tr>
    <td>{{storedData.firstname}}</td>
    <td>{{storedData.lastname}}</td>
    <td>{{storedData.email}}</td>
    <td>{{storedData.empid}}</td>
    <td>{{storedData.password}}</td>
    <td>{{storedData.gender}}</td>
  </tr>
</table>